body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        
        main {
          height: 170vh;
          border: solid rgb(255, 255, 255);
          background-image: url(https://cdn.hipwallpaper.com/i/0/68/OG1FLx.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        
        #container2 {
         
          border-radius: 30px;
          padding: 150px;
          margin-top: 100px;
          background-color: rgba(255, 127, 80, 0.048);
        }
        
        #sobmit{
          width: 100px;
          height: 33px;
          font-size: 22px;
        }