header {
  min-height: 20vh;
  height: fit-content !important;
}
form{
  width: 100%;
  height: 100%;
}
section.orderForm{
  height:70vh;
  display: flex;
  justify-content: center;
}
fieldset{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:baseline;
  flex-wrap: wrap;
  align-content: center;
}

table{
  border-width: 3px;
  border-style: solid;
  border-color: black;
}
th{
  border-width: 3px;
  border-style: solid;
  border-color: black;
}