@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

p {
    font-family: 'Cinzel', serif !important;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 2.5rem;
}

h1,
h2 {
    font-family: 'Seymour One', sans-serif;
    line-height: 3rem;
}

h3,
h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 2rem;
}


/* HEADER */

header {
    background-color: whitesmoke;
    height: 150px;
    width: 100%;
    margin: 0 0 5px 0;
}

#LOGOPIC {
    position: relative;
    /* border: solid rgb(26, 211, 125); */
    left: 45%;
    top: -30px;
}


/* Humburger Menu */

.humburger-menu {
    width: 35px;
    /* background-color: blue; */
    height: 30px;
    position: fixed;
    top: 60px;
    left: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    left: 70px;
    /* border:  solid black; */
    background-color: #34626c;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.navbar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -400px;
    display: flex;
    background-color: rgba(52, 98, 108, 0.7);
    justify-content: center;
    align-items: center;
    /* border-radius: 70% 0 0 70%; */
    transition: left 0.8s cubic-bezier(0.1, 0.7, 1, 1);
    z-index: 2;
}

.change {
    left: 0;
}

.nav-list {
    text-align: left;
    display: inline-block;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: whitesmoke;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 0;
    position: relative;
}


/* make orage lines */


/* upper border */

.nav-link::before {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #34626c;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}


/* bottom Border  */

.nav-link::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #34626c;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}


/* Hover effect on menu */

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}


/* Footer */

#footer {
    z-index: 10;
    color: #34626c;
    margin-top: 2rem;
    min-height: 50vh;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    height: fit-content;
    width: 100%;
    background: #f2f2f2cb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#LOGOPICButtom {
    margin-right: 7rem;
}

#bottomForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    border: 0.5rem rgba(255, 255, 255, 0.445);
    border-style: groove;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: 35%;
    min-width: fit-content;
    font-size: 25px;
    color: #34626c;
    min-height: fit-content;
    height: 60%;
    animation: hover infinite;
    animation-timing-function: linear;
}

#bottomForm:hover {
    animation: hov 3s infinite;
}

@keyframes hov {
    0% {
        transform: perspective(1500px) rotateY(15deg);
    }
    50% {
        transform: rotateY(-15deg) perspective(0px);
    }
    100% {
        transform: perspective(1500px) rotateY(15deg);
    }
}

#bottomForm input[type=submit]:hover {
    opacity: 0.9;
    color: whitesmoke;
    background-color: #34626c;
    transform: scale(1.1);
}

#bottomForm input[type=text] {
    width: 75%;
    padding: 0.5rem;
    display: inline-block;
    border: 1px solid #34626c;
    background-color: whitesmoke;
    text-align: start;
    color: #34626c;
    height: 30px;
    margin-right: 1%;
    margin-bottom: 2%;
}

#submitButton {
    box-shadow: 2px 4px 20px 0 #000000;
    text-shadow: 6px 8px 29px #000000;
    border: outset #4c6c74b9 2px;
    text-decoration: none;
    cursor: pointer;
    background-color: #34626c;
    width: 40.5%;
    font-size: 23px;
    width: 50%;
    display: inline-block;
    border: 1px solid whitesmoke;
    text-align: start;
    color: whitesmoke;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    align-self: center;
    transition: 0.5s;
}

div.socialMedia {
    display: flex;
    flex-basis: 228px;
    min-height: 25vh;
    width: 20%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.socialMedia p {
    font-size: 2rem;
}

#footer nav {
    height: fit-content;
}

#footer nav ul {
    height: fit-content;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#footer nav ul li {
    font-size: 3.5rem;
    line-height: 1px;
    word-spacing: 1px;
    padding: 2rem;
}